body {
	user-select: none;
}
.die {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid darkgrey;
    opacity: 0.5;
    cursor: pointer;
}
#roll {
    cursor: pointer;
}
#roll.disabled{
	cursor: not-allowed;
}
.die.free {
    opacity: 1;
}
.die.waiting {
	cursor: default;
}
#scoreboard {
    border: 2px solid darkgrey;
    border-collapse: collapse;
    cursor: default;
    text-align: center;
}
#scoreboard td {
    border: 2px solid darkgrey;
    padding: 5px;
    min-width: 25px;
    height: 35px;
}
#scoreboard th {
    border: 2px solid darkgrey;
    padding: 5px;
}
.totals, #threeofakind {
    border-top: 4px solid darkgrey;
}
.totals, .bonus{
	background-color: #eee;
}
.scoreCell {
    color: black;
}
.scoreCell.free {
    color: #fff;
    cursor: pointer;
}
.scoreCell.free:hover {
    color: #bbb;
}
.scoreCell.free.waiting {
	cursor: default;
}
.bonusCell {
	font-size: 
}
#undo {
	display: none;
}


.die.d1:after {
    width: 30px;
    height: 30px;
    content:'';
    background-repeat: no-repeat;
    background-image: radial-gradient(black 50%, transparent 0%);
    background-size: 10px 10px;
    background-position: 10px 10px;
}

.die.d2:after {
    width: 30px;
    height: 30px;
    content:'';
    background-repeat: no-repeat;
    background-image: radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%);
    background-size: 10px 10px;
    background-position: 2px 2px, 18px 18px;
}

.die.d3:after {
    width: 30px;
    height: 30px;
    content:'';
    background-repeat: no-repeat;
    background-image: radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%);
    background-size: 10px 10px;
    background-position: 2px 2px, 10px 10px, 18px 18px;
}

.die.d4:after {
    width: 30px;
    height: 30px;
    content:'';
    background-repeat: no-repeat;
    background-image: radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%);
    background-size: 10px 10px;
    background-position: 2px 2px, 2px 18px, 18px 2px, 18px 18px;
}

.die.d5:after {
    width: 30px;
    height: 30px;
    content:'';
    background-repeat: no-repeat;
    background-image: radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%);
    background-size: 10px 10px;
    background-position: 2px 2px, 2px 18px, 10px 10px, 18px 2px, 18px 18px;
}

.die.d6:after {
    width: 30px;
    height: 30px;
    content:'';
    background-repeat: no-repeat;
    background-image: radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%), radial-gradient(black 50%, transparent 0%);
    background-size: 10px 10px;
    background-position: 2px 2px, 2px 18px, 2px 10px, 18px 10px, 18px 2px, 18px 18px;
}
