@dieWidth: 60px;
@dieBorderWidth: 1px;
@dot: radial-gradient(black 50%, transparent 0%);
@dotWidth: @dieWidth/4;
@tl: (@dieWidth/15) (@dieWidth/15);
@tr: (@dieWidth - @dotWidth - @dieWidth/15) (@dieWidth/15);
@bl: (@dieWidth/15) (@dieWidth - @dotWidth - @dieWidth/15);
@br: (@dieWidth - @dotWidth - @dieWidth/15) (@dieWidth - @dotWidth - @dieWidth/15);
@ml: (@dieWidth/15) ((@dieWidth - @dotWidth)/2);
@mm: ((@dieWidth - @dotWidth)/2);
@mr: (@dieWidth - @dotWidth - @dieWidth/15) ((@dieWidth - @dotWidth)/2);

body {
	user-select: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

#game{
    display: flex;
    align-items: center;
    height: fit-content;
    margin-top: 7px;

    .diceContainer{
        margin-right: 100px;    
    }
}

.die {
    width: @dieWidth;
    height: @dieWidth;
    display: flex;
    margin: 5px;
    border: @dieBorderWidth solid darkgrey;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 10px;
    &.free{
        opacity: 1;
    }
    &.waiting{
        cursor: default;
        background-color: aliceblue;
    }
    &:after{
        width: @dieWidth;
        height: @dieWidth;
        content: '';
        background-repeat: no-repeat;
        background-size: @dotWidth @dotWidth;
    }
    &.d1{
        background-color: lightblue;
        &:after{
            background-image: @dot;
            background-position: @mm;
        }
    }
    &.d2{
        background-color: lightgreen;
        &:after{
            background-image: @dot, @dot;
            background-position: @tl, @br;
        }
    }
    &.d3{
        background-color: lighten(orange, 20%);
        &:after{
            background-image: @dot, @dot, @dot;
            background-position: @tl, @mm, @br;
        }
    }
    &.d4{
        background-color: lighten(yellow,30%);
        &:after{
            background-image: @dot, @dot, @dot, @dot;
            background-position: @tl, @bl, @tr, @br;
        }
    }
    &.d5{
        background-color: lightpink;
        &:after{
            background-image: @dot, @dot, @dot, @dot, @dot;
            background-position: @tl, @bl, @mm, @tr, @br;
        }
    }
    &.d6{
        background-color: lighten(purple, 50%);
        &:after{
            background-image: @dot, @dot, @dot, @dot, @dot, @dot;
            background-position: @tl, @ml, @bl, @tr, @mr, @br;
        }
    }
}

#roll {
    width: (@dieWidth + @dieBorderWidth * 2);
    height: 40px;
    margin-top: 25px;
    font-size: 20px;
    cursor: pointer;
    &.disabled{
        cursor: not-allowed;
    }
}

.scoreboard {
    border-collapse: collapse;
    cursor: default;
    text-align: center;
    td {
        border: 2px solid darkgrey;
        padding: 3px;
        min-width: 25px;
        height: 31px;
    }
    th {
        border: 2px solid darkgrey;
        padding: 3px 5px;
    }
    .totals, #threeofakind {
        border-top: 3px solid darkgrey;
    }

    .totals, .bonus{
        background-color: #eee;
    }
    .scoreCell {
        color: black;
         &.free {
            color: #fff;
            cursor: pointer;
            &:hover {
                color: #bbb;
            }
            &.waiting {
                cursor: default;
            }
        }
    }
}

#undo {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    &.hidden{
        opacity: 0;
        cursor: default;
    }
}

#highscores {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: center;
    border-collapse: collapse;
    td:not(.clearHighscores), th {
        padding: 5px;
        border: solid 2px darkgrey;
    }
    th {
        border-bottom-width: 3px;
    }
    td.clearHighscores {
        padding: 5px 0;
        #clearHighscoresButton {
            padding: 5px;
            width: 100%;
        }
    }
}
