body {
	user-select: none;
}
.die {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid darkgrey;
    opacity: 0.5;
    cursor: pointer;
}
#roll {
    cursor: pointer;
}
#roll.disabled{
	cursor: not-allowed;
}
.die.free {
    opacity: 1;
}
.die.waiting {
	cursor: default;
}
#scoreboard {
    border: 2px solid darkgrey;
    border-collapse: collapse;
    cursor: default;
    text-align: center;
}
#scoreboard td {
    border: 2px solid darkgrey;
    padding: 5px;
    min-width: 20px;
}
#scoreboard th {
    border: 2px solid darkgrey;
    padding: 5px;
}
#scoreboard #sixes {
    border-bottom: 4px solid darkgrey;
}
.scoreCell {
    color: black;
}
.scoreCell.free {
    color: #fff;
    cursor: pointer;
}
.scoreCell.free:hover {
    color: #bbb;
}