body {
	user-select: none;
}
.die {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid darkgrey;
    opacity: 0.5;
    cursor: pointer;
}
#roll {
    cursor: pointer;
}
#roll.disabled{
	cursor: not-allowed;
}
.die.free {
    opacity: 1;
}
.die.waiting {
	cursor: default;
}
.die.d1:after {
	content: '1';
}
.die.d2:after {
	content: '2';
}
.die.d3:after {
	content: '3';
}
.die.d4:after {
	content: '4';
}
.die.d5:after {
	content: '5';
}
.die.d6:after {
	content: '6';
}
#scoreboard {
    border: 2px solid darkgrey;
    border-collapse: collapse;
    cursor: default;
    text-align: center;
}
#scoreboard td {
    border: 2px solid darkgrey;
    padding: 5px;
    min-width: 25px;
    height: 35px;
}
#scoreboard th {
    border: 2px solid darkgrey;
    padding: 5px;
}
.totals, #threeofakind {
    border-top: 4px solid darkgrey;
}
.totals, .bonus{
	background-color: #eee;
}
.scoreCell {
    color: black;
}
.scoreCell.free {
    color: #fff;
    cursor: pointer;
}
.scoreCell.free:hover {
    color: #bbb;
}
.scoreCell.free.waiting {
	cursor: default;
}
.bonusCell {
	font-size: 
}
#undo {
	display: none;
}
